* {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 70px 0;
  width: 80%;
  margin: 0 auto; }

ul {
  list-style: none; }

a {
  color: #111;
  text-decoration: none;
  cursor: pointer; }
  a.selected {
    border-bottom: 1px solid; }

/*  Resume  */
header > h1 {
  padding: 10px 5px 0;
  font-size: 4em;
  font-weight: bold;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase; }
header > h2 {
  text-align: center;
  width: 80%;
  margin: 0 auto; }

nav ul {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  list-style: none;
  margin: 1em auto; }

section[data-id="experience"] ul {
  list-style: none;
  margin: 1em auto; }

nav ul li {
  color: #fff;
  display: inline;
  font-size: 1.2em;
  padding: .4em;
  letter-spacing: .1em;
  text-transform: uppercase; }

ul + h4 {
  padding: 10px 0 0; }

section[data-id="technical"] ul {
  list-style-position: inside; }
section > h3 {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px 0 10px 5px;
  margin: 10px 0; }
section[data-id="education"] p {
  margin-bottom: 20px; }

/*  Portfolio  */
figcaption {
  position: relative;
  width: 100%; }

figure {
  width: 47%;
  display: inline-block;
  margin: 0 10px 0 0; }
  figure img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    margin: 0 20px 20px 0; }
  figure span {
    padding: 0 0 5px 0; }
    figure span span {
      display: block;
      font-size: .8em; }
  figure span:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 0; }
    figure span:nth-of-type(2) i {
      padding: 12px 0 0 5px;
      font-size: 1.5em; }

/* About */
div[roll=about] {
  text-align: justify;
  min-height: 18.5em; }
  div[roll=about] p {
    line-height: 1.4em; }
  div[roll=about] img {
    float: left;
    width: 280px;
    height: 255px;
    padding-right: 1em; }

/* Footer */
footer {
  border-top: 1px solid black;
  padding-top: .2em;
  margin-top: 2em;
  text-align: center; }

/* Pages */
.page h1 {
  text-align: center;
  margin: 20px 0; }
.page p {
  padding: 0 0 10px 0; }
.page .excerpt {
  display: inline-block;
  width: 60%;
  padding: 0 10px 0 0;
  text-align: justify; }
.page .role {
  display: inline-block;
  width: 35%;
  vertical-align: top; }
  .page .role span {
    font-weight: bold; }
  .page .role a:hover {
    border-bottom: 1px solid; }
.page .page-images {
  text-align: center; }
  .page .page-images img {
    margin: 30px 10px 10px 0;
    max-width: 650px; }

/* Responsive Design Elements */
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 2em; }

  div[roll=about] img {
    float: none;
    padding-left: 1em; } }
@media screen and (min-width: 1124px) {
  body {
    width: 55em; } }
